#cube-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cube-viewport {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;

    -webkit-perspective-origin: 50% 200px;
    -moz-perspective-origin: 50% 200px;
    perspective-origin: 50% 200px;
}

#cube {
    position: relative;
    height: 400px;
    width: 400px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#row {
    position: relative;
    height: 400px;
    width: 400px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cube .cubie {
    position: absolute;
    margin: 1px;
    border: 1px solid black;
    /* border-top-left-radius: 15px; */
    width: 98px;
    height: 98px;
    opacity: 1;
    z-index: -1;
    text-align: center;
    font-size: 30px;    
}

#cube .cubie > div {
    line-height: 100px;
}
#cube .cubie > div span {
    /* visibility: hidden; */
    color: dimgrey;
    opacity: 0.6;
    font-size: 14px;
}


/* planes & rotations */
#plane {
    transform-style: preserve-3d;
}
.moving {
    transition: all .2s linear;
}


/* cubies colors */

#cube .white {background-color: white;}

#cube .orange {background-color: rgb(255, 95, 31);}

#cube .black {background-color: dimgrey;}

/* cubies shaping */
.edge.NN {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.edge.EE {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.edge.SS {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.edge.WW {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.center {
    border-radius: 25px;
}

.edge.NN.internal {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.edge.EE.internal {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.edge.SS.internal {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.edge.WW.internal {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* cubies positions */

/* white (up) face cubies */
.A.corner { /* white top left cubie */
    -webkit-transform: rotateX(90deg) translate3d(50px, -100px, 0);
    -moz-transform:    rotateX(90deg) translate3d(50px, -100px, 0);
    transform:         rotateX(90deg) translate3d(50px, -100px, 0);
}
.D.edge { /* white center left cubie */
    -webkit-transform: rotateX(90deg) translate3d(50px, 0, 0);
    -moz-transform:    rotateX(90deg) translate3d(50px, 0, 0);
    transform:         rotateX(90deg) translate3d(50px, 0, 0);
}
.D.corner { /* white bottom left cubie */
    -webkit-transform: rotateX(90deg) translate3d(50px, 100px, 0px);
    -moz-transform:    rotateX(90deg) translate3d(50px, 100px, 0px);
    transform:         rotateX(90deg) translate3d(50px, 100px, 0px);
}
.A.edge { /* white top center cubie */
    -webkit-transform: rotateX(90deg) translate3d(150px, -100px, 0);
    -moz-transform:    rotateX(90deg) translate3d(150px, -100px, 0);
    transform:         rotateX(90deg) translate3d(150px, -100px, 0);
}
.white.center { /* white center center cubie */
    -webkit-transform: rotateX(90deg) translate3d(150px, 0, 0);
    -moz-transform:    rotateX(90deg) translate3d(150px, 0, 0);
    transform:         rotateX(90deg) translate3d(150px, 0, 0);
}
.C.edge { /* white bottom center cubie */
    -webkit-transform: rotateX(90deg) translate3d(150px, 100px, 0);
    -moz-transform:    rotateX(90deg) translate3d(150px, 100px, 0);
    transform:         rotateX(90deg) translate3d(150px, 100px, 0);
}
.B.corner { /* white top right cubie */
    -webkit-transform: rotateX(90deg) translate3d(250px, -100px, 0);
    -moz-transform:    rotateX(90deg) translate3d(250px, -100px, 0);
    transform:         rotateX(90deg) translate3d(250px, -100px, 0);
}
.B.edge { /* white center right cubie */
    -webkit-transform: rotateX(90deg) translate3d(250px, 0, 0);
    -moz-transform:    rotateX(90deg) translate3d(250px, 0, 0);
    transform:         rotateX(90deg) translate3d(250px, 0, 0);
}
.C.corner { /*white bottom right cubie */
    -webkit-transform: rotateX(90deg) translate3d(250px, 100px, 0);
    -moz-transform:    rotateX(90deg) translate3d(250px, 100px, 0);
    transform:         rotateX(90deg) translate3d(250px, 100px, 0);
}

/* orange (left) face cubies */
.E.corner {
    -webkit-transform: rotateY(-90deg) translate3d(-100px, 50px, 0px);
    -moz-transform:    rotateY(-90deg) translate3d(-100px, 50px, 0px);
    transform:         rotateY(-90deg) translate3d(-100px, 50px, 0px);
}
.H.edge {
    -webkit-transform: rotateY(-90deg) translate3d(-100px, 150px, 0px);
    -moz-transform:    rotateY(-90deg) translate3d(-100px, 150px, 0px);
    transform:         rotateY(-90deg) translate3d(-100px, 150px, 0px);
}
.H.corner {
    -webkit-transform: rotateY(-90deg) translate3d(-100px, 250px, 0px);
    -moz-transform:    rotateY(-90deg) translate3d(-100px, 250px, 0px);
    transform:         rotateY(-90deg) translate3d(-100px, 250px, 0px);
}
.E.edge {
    -webkit-transform: rotateY(-90deg) translate3d(0px, 50px, 0px);
    -moz-transform:    rotateY(-90deg) translate3d(0px, 50px, 0px);
    transform:         rotateY(-90deg) translate3d(0px, 50px, 0px);
}
.orange.center {
    -webkit-transform: rotateY(-90deg) translate3d(0px, 150px, 0px);
    -moz-transform:    rotateY(-90deg) translate3d(0px, 150px, 0px);
    transform:         rotateY(-90deg) translate3d(0px, 150px, 0px);
}
.G.edge {
    -webkit-transform: rotateY(-90deg) translate3d(0px, 250px, 0px);
    -moz-transform:    rotateY(-90deg) translate3d(0px, 250px, 0px);
    transform:         rotateY(-90deg) translate3d(0px, 250px, 0px);
}
.F.corner {
    -webkit-transform: rotateY(-90deg) translate3d(100px, 50px, 0px);
    -moz-transform:    rotateY(-90deg) translate3d(100px, 50px, 0px);
    transform:         rotateY(-90deg) translate3d(100px, 50px, 0px);
}
.F.edge {
    -webkit-transform: rotateY(-90deg) translate3d(100px, 150px, 0px);
    -moz-transform:    rotateY(-90deg) translate3d(100px, 150px, 0px);
    transform:         rotateY(-90deg) translate3d(100px, 150px, 0px);
}
.G.corner {
    -webkit-transform: rotateY(-90deg) translate3d(100px, 250px, 0px);
    -moz-transform:    rotateY(-90deg) translate3d(100px, 250px, 0px);
    transform:         rotateY(-90deg) translate3d(100px, 250px, 0px);
}

/* green (front) face cubies */
.ftl {
    -webkit-transform: translate3d(50px, 50px, 150px);
    -moz-transform:    translate3d(50px, 50px, 150px);
    transform:         translate3d(50px, 50px, 150px);
}
.fcl {
    -webkit-transform: translate3d(50px, 150px, 150px);
    -moz-transform:    translate3d(50px, 150px, 150px);
    transform:         translate3d(50px, 150px, 150px);
}
.fbl {
    -webkit-transform: translate3d(50px, 250px, 150px);
    -moz-transform:    translate3d(50px, 250px, 150px);
    transform:         translate3d(50px, 250px, 150px);
}
.ftc {
    -webkit-transform: translate3d(150px, 50px, 150px);
    -moz-transform:    translate3d(150px, 50px, 150px);
    transform:         translate3d(150px, 50px, 150px);
}
.fcc {
    -webkit-transform: translate3d(150px, 150px, 150px);
    -moz-transform:    translate3d(150px, 150px, 150px);
    transform:         translate3d(150px, 150px, 150px);
}
.fbc {
    -webkit-transform: translate3d(150px, 250px, 150px);
    -moz-transform:    translate3d(150px, 250px, 150px);
    transform:         translate3d(150px, 250px, 150px);
}
.ftr {
    -webkit-transform: translate3d(250px, 50px, 150px);
    -moz-transform:    translate3d(250px, 50px, 150px);
    transform:         translate3d(250px, 50px, 150px);
}
.fcr {
    -webkit-transform: translate3d(250px, 150px, 150px);
    -moz-transform:    translate3d(250px, 150px, 150px);
    transform:         translate3d(250px, 150px, 150px);
}
.fbr {
    -webkit-transform: translate3d(250px, 250px, 150px);
    -moz-transform:    translate3d(250px, 250px, 150px);
    transform:         translate3d(250px, 250px, 150px);
}

/* red (right) face cubies */
.rtl {
    -webkit-transform: rotateY(90deg) translate3d(-100px, 50px, 300px);
    -moz-transform:    rotateY(90deg) translate3d(-100px, 50px, 300px);
    transform:         rotateY(90deg) translate3d(-100px, 50px, 300px);
}
.rcl {
    -webkit-transform: rotateY(90deg) translate3d(-100px, 150px, 300px);
    -moz-transform:    rotateY(90deg) translate3d(-100px, 150px, 300px);
    transform:         rotateY(90deg) translate3d(-100px, 150px, 300px);
}
.rbl {
    -webkit-transform: rotateY(90deg) translate3d(-100px, 250px, 300px);
    -moz-transform:    rotateY(90deg) translate3d(-100px, 250px, 300px);
    transform:         rotateY(90deg) translate3d(-100px, 250px, 300px);
}
.rtc {
    -webkit-transform: rotateY(90deg) translate3d(0px, 50px, 300px);
    -moz-transform:    rotateY(90deg) translate3d(0px, 50px, 300px);;
    transform:         rotateY(90deg) translate3d(0px, 50px, 300px);;
}
.rcc {
    -webkit-transform: rotateY(90deg) translate3d(0px, 150px, 300px);
    -moz-transform:    rotateY(90deg) translate3d(0px, 150px, 300px);
    transform:         rotateY(90deg) translate3d(0px, 150px, 300px);
}
.rbc {
    -webkit-transform: rotateY(90deg) translate3d(0px, 250px, 300px);
    -moz-transform:    rotateY(90deg) translate3d(0px, 250px, 300px);
    transform:         rotateY(90deg) translate3d(0px, 250px, 300px);
}
.rtr {
    -webkit-transform: rotateY(90deg) translate3d(100px, 50px, 300px);
    -moz-transform:    rotateY(90deg) translate3d(100px, 50px, 300px);
    transform:         rotateY(90deg) translate3d(100px, 50px, 300px);
}
.rcr {
    -webkit-transform: rotateY(90deg) translate3d(100px, 150px, 300px);
    -moz-transform:    rotateY(90deg) translate3d(100px, 150px, 300px);
    transform:         rotateY(90deg) translate3d(100px, 150px, 300px);
}
.rbr {
    -webkit-transform: rotateY(90deg) translate3d(100px, 250px, 300px);
    -moz-transform:    rotateY(90deg) translate3d(100px, 250px, 300px);
    transform:         rotateY(90deg) translate3d(100px, 250px, 300px);
}

/* blue (back) face cubies */
.btl {
    -webkit-transform: rotateX(-180deg) translate3d(50px, -250px, 150px);
    -moz-transform:    rotateX(-180deg) translate3d(50px, -250px, 150px);
    transform:         rotateX(-180deg) translate3d(50px, -250px, 150px);
}
.bcl {
    -webkit-transform: rotateX(-180deg) translate3d(50px, -150px, 150px);
    -moz-transform:    rotateX(-180deg) translate3d(50px, -150px, 150px);
    transform:         rotateX(-180deg) translate3d(50px, -150px, 150px);
}
.bbl {
    -webkit-transform: rotateX(-180deg) translate3d(50px, -50px, 150px);
    -moz-transform:    rotateX(-180deg) translate3d(50px, -50px, 150px);
    transform:         rotateX(-180deg) translate3d(50px, -50px, 150px);
}
.btc {
    -webkit-transform: rotateX(-180deg) translate3d(150px, -250px, 150px);
    -moz-transform:    rotateX(-180deg) translate3d(150px, -250px, 150px);
    transform:         rotateX(-180deg) translate3d(150px, -250px, 150px);
}
.bcc {
    -webkit-transform: rotateX(-180deg) translate3d(150px, -150px, 150px);
    -moz-transform:    rotateX(-180deg) translate3d(150px, -150px, 150px);
    transform:         rotateX(-180deg) translate3d(150px, -150px, 150px);
}
.bbc {
    -webkit-transform: rotateX(-180deg) translate3d(150px, -50px, 150px);
    -moz-transform:    rotateX(-180deg) translate3d(150px, -50px, 150px);
    transform:         rotateX(-180deg) translate3d(150px, -50px, 150px);
}
.btr {
    -webkit-transform: rotateX(-180deg) translate3d(250px, -250px, 150px);
    -moz-transform:    rotateX(-180deg) translate3d(250px, -250px, 150px);
    transform:         rotateX(-180deg) translate3d(250px, -250px, 150px);
}
.bcr {
    -webkit-transform: rotateX(-180deg) translate3d(250px, -150px, 150px);
    -moz-transform:    rotateX(-180deg) translate3d(250px, -150px, 150px);
    transform:         rotateX(-180deg) translate3d(250px, -150px, 150px);
}
.bbr {
    -webkit-transform: rotateX(-180deg) translate3d(250px, -50px, 150px);
    -moz-transform:    rotateX(-180deg) translate3d(250px, -50px, 150px);
    transform:         rotateX(-180deg) translate3d(250px, -50px, 150px);
}

/* yellow (down) face cubies */
.dtl {
    -webkit-transform: rotateX(-90deg) translate3d(50px, -100px, 300px);
    -moz-transform:    rotateX(-90deg) translate3d(50px, -100px, 300px);
    transform:         rotateX(-90deg) translate3d(50px, -100px, 300px);
}
.dcl {
    -webkit-transform: rotateX(-90deg) translate3d(50px, 0, 300px);
    -moz-transform:    rotateX(-90deg) translate3d(50px, 0, 300px);
    transform:         rotateX(-90deg) translate3d(50px, 0, 300px);
}
.dbl {
    -webkit-transform: rotateX(-90deg) translate3d(50px, 100px, 300px);
    -moz-transform:    rotateX(-90deg) translate3d(50px, 100px, 300px);
    transform:         rotateX(-90deg) translate3d(50px, 100px, 300px);
}
.dtc {
    -webkit-transform: rotateX(-90deg) translate3d(150px, -100px, 300px);
    -moz-transform:    rotateX(-90deg) translate3d(150px, -100px, 300px);
    transform:         rotateX(-90deg) translate3d(150px, -100px, 300px);
}
.dcc {
    -webkit-transform: rotateX(-90deg) translate3d(150px, 0px, 300px);
    -moz-transform:    rotateX(-90deg) translate3d(150px, 0px, 300px);
    transform:         rotateX(-90deg) translate3d(150px, 0px, 300px);
}
.dbc {
    -webkit-transform: rotateX(-90deg) translate3d(150px, 100px, 300px);
    -moz-transform:    rotateX(-90deg) translate3d(150px, 100px, 300px);
    transform:         rotateX(-90deg) translate3d(150px, 100px, 300px);
}
.dtr {
    -webkit-transform: rotateX(-90deg) translate3d(250px, -100px, 300px);
    -moz-transform:    rotateX(-90deg) translate3d(250px, -100px, 300px);
    transform:         rotateX(-90deg) translate3d(250px, -100px, 300px);
}
.dcr {
    -webkit-transform: rotateX(-90deg) translate3d(250px, 0px, 300px);
    -moz-transform:    rotateX(-90deg) translate3d(250px, 0px, 300px);
    transform:         rotateX(-90deg) translate3d(250px, 0px, 300px);
}
.dbr {
    -webkit-transform: rotateX(-90deg) translate3d(250px, 100px, 300px);
    -moz-transform:    rotateX(-90deg) translate3d(250px, 100px, 300px);
    transform:         rotateX(-90deg) translate3d(250px, 100px, 300px);
}

/* internal cubies positions */
.A.corner.internal { /* white top left internal cubie */
    -webkit-transform: rotateX(90deg) translate3d(50px, -100px, -100px);
    -moz-transform:    rotateX(90deg) translate3d(50px, -100px, -100px);
    transform:         rotateX(90deg) translate3d(50px, -100px, -100px);
}
.D.edge.internal { /* white center left internal cubie */
    -webkit-transform: rotateX(90deg) translate3d(50px, 0, -100px);
    -moz-transform:    rotateX(90deg) translate3d(50px, 0, -100px);
    transform:         rotateX(90deg) translate3d(50px, 0, -100px);
}
.D.corner.internal { /* white bottom left internal cubie */
    -webkit-transform: rotateX(90deg) translate3d(50px, 100px, -100px);
    -moz-transform:    rotateX(90deg) translate3d(50px, 100px, -100px);
    transform:         rotateX(90deg) translate3d(50px, 100px, -100px);
}
.A.edge.internal { /* white top center internal cubie */
    -webkit-transform: rotateX(90deg) translate3d(150px, -100px, -100px);
    -moz-transform:    rotateX(90deg) translate3d(150px, -100px, -100px);
    transform:         rotateX(90deg) translate3d(150px, -100px, -100px);
}
.white.center.internal { /* white center center cubie */
    -webkit-transform: rotateX(90deg) translate3d(150px, 0, -100px);
    -moz-transform:    rotateX(90deg) translate3d(150px, 0, -100px);
    transform:         rotateX(90deg) translate3d(150px, 0, -100px);
}
.C.edge.internal { /* white bottom center internal cubie */
    -webkit-transform: rotateX(90deg) translate3d(150px, 100px, -100px);
    -moz-transform:    rotateX(90deg) translate3d(150px, 100px, -100px);
    transform:         rotateX(90deg) translate3d(150px, 100px, -100px);
}
.B.corner.internal { /* white top right internal cubie */
    -webkit-transform: rotateX(90deg) translate3d(250px, -100px, -100px);
    -moz-transform:    rotateX(90deg) translate3d(250px, -100px, -100px);
    transform:         rotateX(90deg) translate3d(250px, -100px, -100px);
}
.B.edge.internal { /* white center right internal cubie */
    -webkit-transform: rotateX(90deg) translate3d(250px, 0, -100px);
    -moz-transform:    rotateX(90deg) translate3d(250px, 0, -100px);
    transform:         rotateX(90deg) translate3d(250px, 0, -100px);
}
.C.corner.internal { /*white bottom right internal cubie */
    -webkit-transform: rotateX(90deg) translate3d(250px, 100px, -100px);
    -moz-transform:    rotateX(90deg) translate3d(250px, 100px, -100px);
    transform:         rotateX(90deg) translate3d(250px, 100px, -100px);
}

/* orange (left) face cubies */
.E.corner.internal {
    -webkit-transform: rotateY(-90deg) translate3d(-100px, 50px, -100px);
    -moz-transform:    rotateY(-90deg) translate3d(-100px, 50px, -100px);
    transform:         rotateY(-90deg) translate3d(-100px, 50px, -100px);
}
.H.edge.internal {
    -webkit-transform: rotateY(-90deg) translate3d(-100px, 150px, -100px);
    -moz-transform:    rotateY(-90deg) translate3d(-100px, 150px, -100px);
    transform:         rotateY(-90deg) translate3d(-100px, 150px, -100px);
}
.H.corner.internal {
    -webkit-transform: rotateY(-90deg) translate3d(-100px, 250px, -100px);
    -moz-transform:    rotateY(-90deg) translate3d(-100px, 250px, -100px);
    transform:         rotateY(-90deg) translate3d(-100px, 250px, -100px);
}
.E.edge.internal {
    -webkit-transform: rotateY(-90deg) translate3d(0px, 50px, -100px);
    -moz-transform:    rotateY(-90deg) translate3d(0px, 50px, -100px);
    transform:         rotateY(-90deg) translate3d(0px, 50px, -100px);
}
.orange.center.internal {
    -webkit-transform: rotateY(-90deg) translate3d(0px, 150px, 0px);
    -moz-transform:    rotateY(-90deg) translate3d(0px, 150px, 0px);
    transform:         rotateY(-90deg) translate3d(0px, 150px, 0px);
}
.G.edge.internal {
    -webkit-transform: rotateY(-90deg) translate3d(0px, 250px, -100px);
    -moz-transform:    rotateY(-90deg) translate3d(0px, 250px, -100px);
    transform:         rotateY(-90deg) translate3d(0px, 250px, -100px);
}
.F.corner.internal {
    -webkit-transform: rotateY(-90deg) translate3d(100px, 50px, -100px);
    -moz-transform:    rotateY(-90deg) translate3d(100px, 50px, -100px);
    transform:         rotateY(-90deg) translate3d(100px, 50px, -100px);
}
.F.edge.internal {
    -webkit-transform: rotateY(-90deg) translate3d(100px, 150px, -100px);
    -moz-transform:    rotateY(-90deg) translate3d(100px, 150px, -100px);
    transform:         rotateY(-90deg) translate3d(100px, 150px, -100px);
}
.G.corner.internal {
    -webkit-transform: rotateY(-90deg) translate3d(100px, 250px, -100px);
    -moz-transform:    rotateY(-90deg) translate3d(100px, 250px, -100px);
    transform:         rotateY(-90deg) translate3d(100px, 250px, -100px);
}